<!DOCTYPE html>
<html>
  <head>
    <title>OrcidConnector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name=viewport content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'orcid_vue' %>

    <script src="https://static.lib.virginia.edu/js/controllers/page-components-min.js"></script>

  </head>

  <body>
    <uvalib-header>
    </uvalib-header>
    <div class="container" style="margin: 10rem auto;" >
      <%= yield %>
    </div>
    <uvalib-footer />
  </body>
</html>
